*,
:before,
:after {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}
html {
 scroll-behavior: smooth;
}
body {
 width: 100%;
 height: 100%;
 overflow-y: scroll;
 visibility: hidden;
}
main {
 margin-top: 200px;
}
.container {
 max-width: 100vw;
}
.svg {
 position: absolute;
 z-index: -1;
}
.judul-section {
 margin-bottom: 15px;
 font-weight: 700;
}
.section-padding {
 padding: 20px;
}
.section-margin {
 margin: 20px;
}
.bagian-bagian {
 display: flex;
 flex-wrap: wrap;
 gap: 20px;
 width: 100%;
}
.pembuka h3 {
 margin: 50px 0 5px 0;
 font-size: 1.2rem;
}
.pembuka h1 {
 font-size: 2.5rem;
 font-weight: 700;
 text-transform: uppercase;
}
.pembuka h4 {
 min-height: 25px;
 font-size: 1.2rem;
 font-weight: 300;
 margin: 0 0 30px 1rem;
}
.pembuka p {
 line-height: 1.5rem;
 text-align: justify;
 text-indent: 1rem;
}
.pembuka p span {
 font-weight: 700;
}
.pembuka a {
 all: unset;
 width: max-content;
 display: block;
 padding: 10px 15px;
 margin-top: 20px;
 border-radius: 10px;
}
.pembuka a:active {
 transform: scale(0.7);
 transition: transform 0.3s linear;
}
.profil {
 display: flex;
 flex-wrap: wrap;
 justify-content: flex-start;
 align-items: center;
 width: 100%;
 gap: 15px;
 z-index: 1;
 text-align: justify;
}
.image-profil {
 position: relative;
 display: block;
 flex: 0 1 40%;
 margin: auto;
 max-height: auto;
}
.image-profil img {
 display: block;
 position: relative;
 width: 100%;
 height: 100%;
 transform: scale(0.8);
 z-index: 1;
}
.image-profil svg {
 position: absolute;
 bottom: 0;
 width: 100%;
 height: auto;
}
.informasi-profil {
 flex: 1 1 150px;
}
.informasi-profil p {
 margin-bottom: 20px;
}
.isi-profil {
 display: none;
 grid-template-columns: repeat(2, minmax(auto, 50%));
 grid-template-rows: repeat(auto, 20px);
 gap: 10px;
 padding: 10px;
 margin-top: 10px;
 border-radius: 15px;
 text-align: justify;
}
.isi-profil p span {
 vertical-align: top;
 float: right;
}
.pencapaian {
 width: 100%;
}
.informasi-pencapaian p {
 margin: 30px 0 20px 0;
}
.isi-pencapaian {
 display: none;
 grid-template-columns: auto;
 grid-template-rows: repeat(auto);
 padding: 10px;
 margin-top: 10px;
 border-radius: 10px;
 text-align: justify;
}
.bahasa-program {
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 20px;
 margin: 15px 0;
}
.bahasa-program a svg {
 width: 35px;
 height: auto;
}
.sosial-media {
 margin: 30px auto 0 auto;
 border-radius: 10px;
}
.isi-sosial-media {
 padding: 10px;
 text-align: center;
}
.icon-sosial-media {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 gap: 20px;
 margin: 15px 0 0 0;
}
.icon-sosial-media a svg {
 width: 35px;
 height: auto;
}
.footer {
 padding: 20px;
}
.bagian {
 display: flex;
 flex-direction: column;
 font-size: 0.8rem;
}
.bagian h1 {
 font-size: 1.7rem;
 font-weight: 700;
}
.bagian h2 {
 font-size: 1.2rem;
}
.bagian a {
 all: unset;
}
.footer-icon {
 display: flex;
 gap: 5px;
}
.footer-icon svg {
 width: 15px;
 height: auto;
}
.footer-sosial-media {
 transform: scale(0.7);
}
.footer-end p {
 font-size: 0.8rem;
}
.alert {
 display: none;
 font-size: 2rem;
}

/* class universal */
.box {
 padding: 10px;
 border-radius: 20px;
 overflow: hidden;
}
.to-scroll {
 padding-top: 80px;
}
.card {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-content: center;
 position: relative;
 width: 100%;
 padding: 10px;
 margin-bottom: 20px;
 border-radius: 20px;
}
.image-card {
 width: 100%;
 height: 200px;
 object-fit: cover;
 margin-bottom: 15px;
 border-radius: 10px;
 background-color: skyblue;
}
.teks-card h3 {
 margin-bottom: 5px;
 font-size: 1.2rem;
 font-weight: 700;
}
.teks-card p {
 text-align: justify;
 text-indent: 1rem;
}
.cursor:after {
 content: "|";
 margin-left: 2px;
 animation: typing 1s steps(20) infinite;
 animation: cursorText 1s linear infinite;
}
.tampilkan-tampil {
 display: grid;
 animation: fadeInBottom 1s ease-in-out forwards;
}
.line-clamp > p {
 overflow: hidden;
 display: -webkit-box;
 -webkit-box-orient: vertical;
 -webkit-line-clamp: 2;
}
.center {
 text-align: center;
}
hr {
 margin-top: 10px;
}

/* animation */
@keyframes typing {
 from,
 to {
  width: 0;
 }
}
@keyframes cursorText {
 from {
  opacity: 0.3;
 }
 to {
  opacity: 1;
 }
}
@keyframes fadeInBottom {
 from {
  opacity: 0;
  transform: translateY(-50px);
 }
 to {
  opacity: 1;
  transform: translateY(0);
 }
}

/* responsive breakpoint */
@media (min-width: 576px) {
 header, main, footer {
  display: none;
 }
 .alert {
  display: block;
  transform: translateY(50vh);
 }
}
