/* button untuk menampilkan */
.button-tampil {
 all: unset;
 display: flex;
 gap: 10px;
 height: max-content;
 max-height: 17px;
 padding: 10px 15px;
 border-radius: 10px;
}
.button-tampil:active {
 transform: scale(0.7);
 transition: transform 0.3s linear;
}
.button-tampil p {
 margin: 0;
}
.button svg {
 display: block;
 max-height: 15px;
 margin: auto;
}
.svg-rotate > svg {
 transform: rotate(90deg);
}

/* button untuk baca selengkapnya */
.baca-selengkapnya {
 all: unset;
 padding: 5px 10px;
 margin-top: 5px;
 border-radius: 10px;
}
.baca-selengkapnya:active {
 transform: scale(0.7);
 transition: transform 0.3s linear;
}

/* button untuk kunjungi */
.kunjungi {
 all: unset;
 position: absolute;
 top: 0;
 right: 0;
 width: 45px;
 height: 45px;
 transform: translate(10px, 190px);
 border-radius: 10px;
}
.kunjungi svg {
 display: block;
 width: 30px;
 height: auto;
 margin: auto;
}