body {
 background-color: #020617;
}
.loading-page {
 position: fixed;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 20px;
}
.loading-page h1 {
 color: #f8fafc;
 font-size: 2.5rem;
 font-weight: 900;
}
.loading {
 width: 70px;
 height: calc(70px * 0.866);
 position: relative;
 background: conic-gradient(
  from 120deg at 50% 64%,
  #020617,
  #14b8a6 1deg 120deg,
  #0000 121deg
 );
 transform-origin: 50% 50%;
 animation: loading 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
}
.loading:before,
.loading:after {
 content: "";
 position: absolute;
 inset: 0;
 background: inherit;
 transform-origin: 50% 66%;
 animation: loadingDua 1.5s infinite;
}
.loading:after {
 --s: -1;
}
@keyframes loading {
 0%,
 30% {
  transform: rotate(0);
 }
 70% {
  transform: rotate(120deg);
 }
 70.01%,
 100% {
  transform: rotate(360deg);
 }
}
@keyframes loadingDua {
 0% {
  transform: rotate(calc(var(--s, 1) * 120deg)) translate(0);
 }
 30%,
 70% {
  transform: rotate(calc(var(--s, 1) * 120deg))
   translate(calc(var(--s, 1) * -5px), 10px);
 }
 100% {
  transform: rotate(calc(var(--s, 1) * 120deg)) translate(0);
 }
}
