* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html {
 scroll-behavior: smooth;
}
body {
 width: 100%;
 height: 100%;
}

/* header */
header {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 z-index: 999;
}
.navbar {
 max-width: 100vw;
 max-height: 50px;
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.brand .teks-brand {
 width: 100%;
 font-weight: 900;
 text-transform: capitalize;
}
.brand .logo-brand {
 width: 50px;
 height: 50px;
}
.logo-brand img {
 width: inherit;
 object-fit: cover;
}
.navbar-item {
 position: relative;
}
.hamburger-menu {
 all: unset;
 position: relative;
 width: 35px;
 height: 35px;
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 overflow: hidden;
 z-index: 1;
}
.hamburger-menu span {
 width: 100%;
 height: 4px;
 border-radius: 2px;
 transition: transform 1s ease-in-out;
}
.navbar-menu {
 position: absolute;
 top: 0;
 right: 0;
 transform: translate(15px, -350px);
 width: calc(230px - 15px);
 height: auto;
 padding: 7.5px 15px;
 border-end-start-radius: 20px;
 transition: transform 1s ease-in-out;
}
.navbar-menu ul li {
 list-style: none;
 margin: 10px 0;
 padding: 15px;
 border-radius: 10px;
 font-size: 0.8rem;
}
.navbar-menu ul li a {
 all: unset;
 display: flex;
 align-items: center;
 gap: 10px;
}
.navbar-menu ul li a svg {
 width: auto;
 height: 20px;
}
.tema .tema-tampil {
 all: unset;
 width: 100%;
 display: flex;
 align-items: center;
 gap: 10px;
}
.tema-tampil span {
 display: none;
}
.tema-tampil span:nth-of-type(3) {
 display: block;
 transform: scale(0.5);
 transition: transform 0.5s ease-in-out;
}
.tema-tampil span svg {
 width: auto;
 height: 20px;
 margin: auto;
}
.tema-tampil .teks-tema-tampil {
 display: flex;
 align-items: center;
}
.tema .tema-menu {
 position: relative;
 margin: 25px 0 0 10px;
 padding: 5px 10px;
 border-radius: 0 20px 20px 20px;
}
.tema .tema-menu:before {
 content: " ";
 position: absolute;
 top: 0;
 left: 0;
 transform: translateY(-14.5px);
 width: 0;
 height: 0;
 border: 15px solid;
}
.tema-menu ul li {
 padding: 10px;
 font-size: 0.6rem;
}
.tema-menu span {
 width: 100%;
 height: 20px;
 display: flex;
 gap: 10px;
 align-items: center;
}
.tema-menu svg {
 width: auto;
 height: inherit;
}
/* navbar menu enable (aktif) */
.navbar-menu-aktif {
 transform: translate(15px, 40px);
}
/* hamburger menu enable (aktif) */
.hamburger-menu-aktif > span:nth-child(1) {
 transform: translateX(7px);
}
.hamburger-menu-aktif > span:nth-child(2) {
 transform: translateX(14px);
}
.hamburger-menu-aktif > span:nth-child(3) {
 transform: translateX(21px);
}
/* menu tema */
.tema-tampil-aktif > span:nth-of-type(3) svg {
 transform: rotate(90deg);
}
.terang > span:nth-child(1) {
 display: block;
}
.gelap > span:nth-child(2) {
 display: block;
}
.system > span:nth-child(3) {
 display: block;
}

/* main */
main {
 transform: translateY(50px);
 width: 100%;
 height: auto;
 font-size: 0.8rem;
}
main :is(p) {
 line-height: 1.5rem;
}
main :is(h1, h2, h3, h4, h5, h6) {
 font-weight: 900;
}
main .container {
 margin-bottom: 50px;
}
.opening-svg {
 position: relative;
 width: 100%;
 height: auto;
 margin: auto;
}
.opening-svg div {
 position: absolute;
 top: 0;
 left: 0;
 height: 50%;
 animation: flyInLeft 0.5s ease-in-out;
}
.opening-svg div svg {
 width: auto;
 height: 70%;
 margin: 20%;
}
/* beranda */
.sapa {
 font-size: 1.1rem;
 font-weight: 800;
}
.nama {
 font-size: 2.5rem;
}
.status {
 margin-left: 1rem;
 font-size: 1rem;
 font-weight: 700;
 text-transform: capitalize;
}
.teks {
 margin-top: 15px;
 text-indent: 1rem;
}
.countdown {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 gap: 10px;
}
.countdown-items {
 flex: 1 1 50px;
 padding: 10px;
 display: flex;
 flex-direction: column;
 gap: 5px;
 align-items: center;
 border-radius: 5px;
 font-weight: 700;
}
.countdown-dua {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 gap: 10px;
}
.countdown-items-dua {
 flex: 1 1 30px;
 padding: 5px;
 display: flex;
 flex-direction: column;
 gap: 5px;
 align-items: center;
 border-radius: 5px;
 font-size: 0.7rem;
 font-weight: 700;
}
/* tentang saya */
.tentang-saya .box {
 align-items: flex-start;
}
.profil {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-evenly;
 align-items: flex-start;
 gap: 15px;
}
.gambar-profil {
 position: relative;
 flex: 1 1 auto;
 width: 100px;
}
.gambar-profil img {
 position: relative;
 width: inherit;
 display: block;
 margin: auto;
 transform: scale(0.8);
 z-index: 1;
}
.gambar-profil svg {
 position: absolute;
 transform: translateY(-150px) scale(0.8);
 width: 100%;
}
.isi-profil {
 flex: 3 1 150px;
}
.tampil-profil {
 height: max-content;
 border-radius: 5px;
 overflow: hidden;
 transition: height 1s;
}
.tampil-profil .table {
 width: 100%;
 padding: 10px;
 display: flex;
 flex-wrap: wrap;
 justify-content: flex-start;
 align-items: flex-start;
 gap: 10px;
}
.table p {
 flex: 1 1 35%;
}
.table div {
 width: 100%;
}
.table p span {
 float: right;
}
.sosial-media {
 flex: 1 1 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 gap: 10px;
 text-align: center;
}
.icon-sosial-media {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 gap: 15px;
}
.icon-sosial-media a {
 width: 35px;
 height: 35px;
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 5px;
}
.icon-sosial-media a svg {
 width: 25px;
 height: 25px;
}
.pencapaian {
 display: flex;
 flex-direction: column;
 gap: 15px;
}
.tampil-pencapaian {
 height: max-content;
 display: flex;
 flex-direction: column;
 gap: 10px;
 border-radius: 5px;
 overflow: hidden;
 transition: height 1s;
}
.tampil-pencapaian h3 {
 text-align: center;
}
.sertifikat {
 padding: 10px;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-evenly;
 gap: 10px;
}
.sertifikat .card {
 flex: 1 1 150px;
 width: 150px;
 max-width: 50%;
 padding: 10px;
 display: flex;
 flex-direction: column;
 gap: 10px;
 border-radius: 15px;
}
.sertifikat .gambar-card {
 width: 100%;
 border-radius: 5px;
 overflow: hidden;
}
.sertifikat .gambar-card img {
 width: inherit;
 display: block;
 object-fit: cover;
}
.sertifikat .teks-card {
 text-align: left;
}
.bahasa-pemrograman {
 margin-top: 15px;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 gap: 15px;
}
.bahasa-pemrograman span {
 flex: 1 1 auto;
 max-width: 60px;
 display: flex;
 flex-direction: column;
 gap: 5px;
 transition: transform 0.5s;
}
.bahasa-pemrograman-aktif {
 border-radius: 1px;
}
.bahasa-pemrograman span:active {
 transform: scale(0.8);
}
.bahasa-pemrograman span svg {
 width: 35px;
 height: 35px;
 display: block;
 margin: 0 auto;
 border-radius: 5px;
}
.bahasa-pemrograman span p {
 text-align: center;
 font-size: 0.6rem;
 font-weight: 900;
}
.tampil-bahasa-pemrograman {
 display: flex;
 flex-direction: column;
 gap: 10px;
}
.bahasa {
 position: relative;
 height: max-content;
 border-radius: 5px;
 overflow: hidden;
 transition: height 1s;
}
.bahasa div {
 padding: 10px;
}
.bahasa div h2 {
 text-align: center;
}
.bahasa div p {
 margin: 10px 0;
 text-indent: 1rem;
 line-height: 1.5rem;
}
.bahasa div span a {
 all: unset;
}
.close svg {
 position: absolute;
 top: 0;
 right: 0;
 transform: translate(-5px, 5px);
 width: 30px;
 height: 30px;
}
/* projek saya */
.projek-saya .box-card {
 width: 100%;
 padding: 20px;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: flex-start;
 gap: 35px;
}
.projek-saya .card {
 flex: 1 1 300px;
 padding: 10px;
 display: flex;
 flex-direction: column;
 gap: 10px;
 border-radius: 15px;
}
.projek-saya .card .gambar-card img {
 width: 100%;
 display: block;
 aspect-ratio: 1 / 1;
 object-fit: cover;
 border-radius: 5px;
}
.projek-saya .teks-card {
 position: relative;
}
.teks-card div p {
 margin: 10px 0;
 text-indent: 1rem;
 line-height: 1.5rem;
}
.teks-card span a {
 all: unset;
}
.teks-card .button {
 font-size: 0.6rem;
}
.line-clamp {
 overflow: hidden;
 display: -webkit-box;
 -webkit-box-orient: vertical;
 -webkit-line-clamp: 2;
}
.teks-card .visit {
 all: unset;
 position: absolute;
 top: 0;
 right: 0;
 transform: translate(25px, -35px);
 width: 50px;
 height: 50px;
 border-radius: 10px;
}
.visit svg {
 transform: scale(0.7);
}
/* hubungi saya */
.hubungi-saya .box {
 max-width: 500px;
}
.form-box {
 width: 100%;
 padding: 10px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 gap: 20px;
}
.form-item {
 position: relative;
 margin-top: 15px;
 display: flex;
 justify-content: flex-start;
 border-radius: 5px;
}
.form-item .svg {
 width: 40px;
 display: flex;
 align-items: center;
}
.form-item .svg svg {
 width: inherit;
 height: auto;
 margin: auto;
 aspect-ratio: 1 / 1;
 transform: scale(0.5);
}
.form-item input,
.form-item textarea {
 all: unset;
 width: 100%;
 padding: 10px;
}
.form-item textarea {
 resize: none;
}
.form-item p {
 position: absolute;
 top: 0;
 left: 0;
 transform: translate(50px, 10px);
 width: max-content;
 padding: 0 5px;
 transition: transform 0.3s;
 font-weight: 900;
}
.form-item span {
 position: absolute;
 bottom: 0;
 left: 0;
 transform: translate(15px, 20px) scale(0.8);
 width: 100%;
 padding: 0 5px;
 transition: opacity 0.3s;
 opacity: 0;
}
.form-box button[type="submit"] {
 margin: 15px auto;
}
/* floating form */
input:focus + p,
input:valid + p,
textarea:focus + p,
textarea:valid + p {
 transform: translate(50px, -15px);
}
input:focus:invalid ~ span,
textarea:focus:invalid ~ span {
 opacity: 1;
}
/* validasi form */
.invalid {
 animation: invalid 1s infinite;
}
.invalid > p {
 transform: translate(50px, -15px);
}
.invalid > span {
 opacity: 1;
}

/* footer */
footer {
 padding-top: 50px;
 font-size: 0.8rem;
}
.footer .footer-item {
 display: flex;
 flex-wrap: wrap;
 justify-content: flex-start;
 gap: 15px;
 max-width: 100vw;
 height: auto;
}
.footer-item h1 {
 font-size: 2rem;
 font-weight: 900;
}
.footer-item p,
.footer-item span,
.footer-item a {
 all: unset;
 margin-left: 0.5rem;
 padding: 0.25rem 0;
 display: block;
}
.footer-item .kontak {
 display: flex;
 align-items: center;
}
.footer-item svg {
 width: auto;
 height: 15px;
 margin-right: 5px;
}
.footer hr {
 margin: 15px 0;
 border-radius: 0.75px;
}
.footer .hak-cipta {
 margin-top: 10px;
 text-align: center;
 font-size: 0.6rem;
}

/* progres */
.progres {
 position: fixed;
 top: 65px;
 right: 15px;
 width: 190px;
 padding: 10px;
 font-size: 0.8rem;
 z-index: 1;
}
.progres-bar {
 width: 170px;
 height: 3px;
 margin-top: 5px;
 display: flex;
 border-radius: 1.5px;
 overflow: hidden;
}
.progres-bar span {
 height: 3px;
 animation: progres 5s linear 1;
}

/* kelas berulang */
.container {
 width: 100%;
 height: auto;
 padding: 15px;
}
.judul-section {
 margin-bottom: 30px;
}
.scroll {
 margin-top: 70px;
}
.box {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 align-items: center;
 gap: 15px;
}
.box-background {
 border-radius: 15px;
}
.items {
 flex: 1 1 300px;
 height: max-content;
 padding: 10px;
}
.button {
 all: unset;
 width: max-content;
 margin-top: 1rem;
 padding: 10px 15px;
 display: flex;
 align-items: center;
 gap: 10px;
 border-radius: 10px;
 font-weight: 900;
 transition: transform 0.5s;
}
.button:active {
 transform: scale(0.8);
}
.button svg {
 width: auto;
 height: 10px;
 transition: transform 1s;
}
.button-aktif > svg {
 transform: rotate(90deg);
}
.display-none {
 display: none;
}
.cursor > :after {
 content: "|";
 margin-left: 2px;
 animation: blink 1s linear infinite;
}
/* animation */
@keyframes blink {
 from {
  opacity: 0;
 }
 to {
  opacity: 1;
 }
}
@keyframes flyInLeft {
 from {
  transform: translate(-100px, 0);
 }
 to {
  transform: translate(0, 0);
 }
}
@keyframes lambai {
 0%,
 100% {
  transform: rotate(0deg);
 }
 25% {
  transform: rotate(20deg);
 }
 50% {
  transform: rotate(0deg);
 }
 75% {
  transform: rotate(-20deg);
 }
}
.lambai {
 display: inline-block;
 transform-origin: bottom;
 animation: lambai 1s linear infinite;
}
@keyframes invalid {
 50% {
  outline-color: red;
 }
}
@keyframes progres {
 from {
  width: 0;
 }
 to {
  width: 100%;
 }
}
@keyframes s6 {
 100% {
  transform: rotate(1turn);
 }
}
