.header {
 position: fixed;
 top: 0;
 width: 100%;
 padding: 20px 15px;
 z-index: 999;
}
.navbar {
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.brand {
 display: inline-block;
 white-space: nowrap;
 font-size: 0.8;
 text-transform: uppercase;
}
.navbar-item {
 position: relative;
}
.navbar-button {
 width: 30px;
 height: max-content;
 display: flex;
 flex-direction: column;
 gap: 5px;
 background: none;
 border: none;
 overflow: hidden;
}
.navbar-button span {
 width: 30px;
 height: 3px;
 border-radius: 10px;
 transition: transform 0.5s linear;
 z-index: 1;
}
.navbar-menu {
 width: 200px;
 position: absolute;
 padding: 15px;
 border-radius: 0 0 0 25px;
 transition: transform 0.5s ease-in-out;
}
.navbar-menu ul {
 display: flex;
 flex-direction: column;
}
.navbar-menu ul li {
 list-style: none;
 margin: 5px;
 padding: 15px;
 border-radius: 10px;
}
.navbar-menu ul li a {
 all: unset;
}
.navbar-menu-logo {
 all: unset;
 display: flex;
 justify-content: flex-start;
 align-items: center;
 gap: 10px;
}

/* class navbar-menu enable(active) */
.navbar-menu-enable {
 transform: translateX(-155px) translateY(20px);
}
/* class navbar-menu disable(non active)  */
.navbar-menu-disable {
 transform: translateX(-155px) translateY(-330px);
}
/* class navbar-menu click */
.navbar-click {
 background-color: #363636;
}

/* class navbar-button enable(active)  */
.navbar-button-enable > span:nth-child(1) {
 transform: translateX(5px);
}
.navbar-button-enable > span:nth-child(2) {
 transform: translateX(12px);
}
.navbar-button-enable > span:nth-child(3) {
 transform: translateX(19px);
}
