:root {
 --terang-1: #f8fafc;
 --terang-2: #f1f5f9;
 --terang-3: #e2e8f0;
 --terang-4: #cbd5e1;
 --gelap-1: #020617;
 --gelap-2: #0f172a;
 --gelap-3: #1e293b;
 --gelap-4: #334155;
 --main-color-1: #2dd4bf;
 --main-color-2: #14b8a6;
}


/* mode terang */
.terang {
 color: var(--gelap-1);
 background-color: var(--terang-1);
}
.terang .navbar {
 background-color: var(--terang-2);
}
.terang .hamburger-menu span {
 background-color: var(--gelap-1);
}
.terang .navbar-menu {
 background-color: var(--terang-2);
}
.terang .navbar-menu-click {
 fill: var(--gelap-1);
 color: var(--gelap-1);
 background-color: var(--main-color-1);
}
.terang .tema .tema-menu {
 fill: var(--gelap-1);
 color: var(--gelap-1);
 background-color: var(--terang-3);
}
.terang .tema .tema-menu:before {
 border-color: transparent transparent transparent var(--terang-3);
}
.terang .tema-menu-aktif {
 fill: var(--gelap-1);
 color: var(--gelap-1);
 background-color: var(--main-color-1);
}
.terang main {
 color: var(--gelap-4);
}
.terang main :is(h1, h2, h3, h4, h5, h6) {
 color: var(--main-color-1);
}
.terang .window-scroll {
 filter: drop-shadow(0 2px 4px var(--main-color-1));
}
.terang .opening-svg svg {
 fill: var(--terang-1);
 filter: drop-shadow(2px 2px 6px var(--main-color-1));
}
.terang .opening-svg div svg {
 filter: none;
}
.terang .box-background {
 background-color: var(--terang-3);
}
.terang .sapa {
 color: var(--gelap-2);
}
.terang .status {
 color: var(--gelap-3);
}
.terang .button {
 color: var(--gelap-1);
 fill: var(--gelap-1);
 background-color: var(--main-color-1);
}
.terang .countdown-items {
 color: var(--gelap-1);
 background-color: var(--terang-4);
}
.terang .gambar-profil svg {
 fill: var(--main-color-1);
}
.terang .tampil-profil {
 background-color: var(--terang-4);
}
.terang .countdown-items-dua {
 color: var(--gelal-1);
 background-color: var(--main-color-1);
}
.terang .icon-sosial-media a {
 fill: var(--gelap-1);
 background-color: var(--terang-4);
}
.terang .tampil-pencapaian .card {
 background-color: var(--terang-4);
}
.terang .bahasa-pemrograman span p {
 color: var(--gelap-1);
}
.terang .bahasa {
 background-color: var(--terang-4);
}
.terang .bahasa div :is(h2, h3) {
 color: var(--gelap-1);
}
.terang .bahasa div span a {
 color: var(--main-color-1);
}
.terang .bahasa-pemrograman-aktif {
 border-bottom: 2px solid var(--main-color-1);
}
.terang .projek-saya {
 background-color: var(--terang-3);
}
.terang .projek-saya .card {
 background-color: var(--terang-4);
}
.terang .teks-card .visit {
 fill: var(--gelap-1);
 background-color: var(--main-color-1);
}
.terang .teks-card span a {
 color: var(--main-color-1);
}
.terang .form-item {
 outline: 2px solid var(--terang-4);
}
.terang .form-item .svg {
 fill: var(--gelap-1);
 background-color: var(--terang-4);
}
.terang .form-item p {
 color: var(--gelap-1);
 background-color: var(--terang-3);
}
.terang .form-item span {
 color: var(--gelap-1);
}
.terang input:focus + p, input:valid + p, textarea:focus + p, textarea:valid + p {
 background-color: var(--terang-3);
}
.terang .progres-bar {
 background-color: var(--terang-4);
}
.terang .progres-bar span {
 background-color: var(--main-color-1);
}
.terang .footer {
 color: var(--gelap-4);
 background-color: var(--terang-3);
}
.terang .footer hr {
 border: 1.5px solid var(--gelap-3);
}

/* mode gelap */
.gelap {
 color: var(--terang-1);
 background-color: var(--gelap-1);
}
.gelap .navbar {
 background-color: var(--gelap-2);
}
.gelap .hamburger-menu span {
 background-color: var(--terang-1);
}
.gelap .navbar-menu {
 fill: var(--terang-1);
 background-color: var(--gelap-2);
}
.gelap .navbar-menu-click {
 fill: var(--terang-1);
 color: var(--terang-1);
 background-color: var(--main-color-2);
}
.gelap .tema .tema-menu {
 fill: var(--terang-1);
 color: var(--terang-1);
 background-color: var(--gelap-3);
}
.gelap .tema .tema-menu:before {
 border-color: transparent transparent transparent var(--gelap-3);
}
.gelap .tema-menu-aktif {
 fill: var(--terang-1);
 color: var(--terang-1);
 background-color: var(--main-color-2);
}
.gelap main {
 color: var(--terang-4);
}
.gelap main :is(h1, h2, h3, h4, h5, h6) {
 color: var(--main-color-2);
}
.gelap .window-scroll {
 filter: drop-shadow(0 2px 4px var(--main-color-2));
}
.gelap .opening-svg svg {
 fill: var(--gelap-1);
 filter: drop-shadow(2px 2px 6px var(--main-color-2));
}
.gelap .opening-svg div svg {
 filter: none;
}
.gelap .box-background {
 background-color: var(--gelap-3);
}
.gelap .sapa {
 color: var(--terang-2);
}
.gelap .status {
 color: var(--terang-3);
}
.gelap .button {
 color: var(--terang-1);
 fill: var(--terang-1);
 background-color: var(--main-color-2);
}
.gelap .countdown-items {
 color: var(--terang-1);
 background-color: var(--gelap-4);
}
.gelap .gambar-profil svg {
 fill: var(--main-color-2);
}
.gelap .tampil-profil {
 background-color: var(--gelap-4);
}
.gelap .countdown-items-dua {
 color: var(--terang-1);
 background-color: var(--main-color-2);
}
.gelap .icon-sosial-media a {
 fill: var(--terang-1);
 background-color: var(--gelap-4);
}
.gelap .tampil-pencapaian .card {
 background-color: var(--gelap-4);
}
.gelap .bahasa-pemrograman span p {
 color: var(--terang-1);
}
.gelap .bahasa {
 background-color: var(--gelap-4);
}
.gelap .bahasa div :is(h2, h3) {
 color: var(--terang-1);
}
.gelap .bahasa div span a {
 color: var(--main-color-2);
}
.gelap .bahasa-pemrograman-aktif {
 border-bottom: 2px solid var(--main-color-2);
}
.gelap .projek-saya {
 background-color: var(--gelap-3);
}
.gelap .projek-saya .card {
 background-color: var(--gelap-4);
}
.gelap .teks-card .visit {
 fill: var(--terang-1);
 background-color: var(--main-color-2);
}
.gelap .teks-card span a {
 color: var(--main-color-2);
}
.gelap .form-item {
 outline: 2px solid var(--gelap-4);
}
.gelap .form-item .svg {
 fill: var(--terang-1);
 background-color: var(--gelap-4);
}
.gelap .form-item p {
 color: var(--terang-1);
 background-color: var(--gelap-3);
}
.gelap .form-item span {
 color: var(--terang-1);
}
.gelap input:focus + p, input:valid + p, textarea:focus + p, textarea:valid + p {
 background-color: var(--gelap-3);
}
.gelap .progres-bar {
 background-color: var(--gelap-4);
}
.gelap .progres-bar span {
 background-color: var(--main-color-2);
}
.gelap .footer {
 color: var(--terang-4);
 background-color: var(--gelap-3);
}
.gelap .footer h1, .gelap .footer h2 {
 color: var(--terang-1);
}
.gelap .footer-item {
 fill: var(--terang-4);
}
.gelap .footer hr {
 border: 1.5px solid var(--terang-3);
}