.countdown {
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 margin-top: 50px;
 padding: 30px 10px;
}
.informasi p {
 text-align: justify;
 text-indent: 1rem;
}
.countdown-item {
 margin: 20px 0;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 flex: 1 1 auto;
 gap: 10px;
}
.countdown-item span:nth-child(odd) {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 height: max-content;
 padding: 5px;
 min-width: 50px;
 border-radius: 15px;
 font-size: 0.8rem;
}
.countdown-item span:nth-child(even) {
 font-size: 2rem;
 font-weight: 700;
}
.countdown-item p {
 font-size: 0.8rem;
}